@media (max-width: 992px) {
  .job-information .grid,
  .hobbies-detail {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }

  .nav-brand {
    display: none;
  }

  .certificate .grid > *:nth-child(3) {
    grid-column: 1 / span 1;
  }
  .certificate .grid {
    border: none;
  }
}
